@{
    ViewData["Title"] = "Rewind";
}


<div class="home-banner">
    <h2 class="display-4">Keep a list of your Favourite Films<br />Recommend Films You Love</h2>
    <a class="btn-primary" asp-area="Identity" asp-page="/Account/Register">Create a free account</a>
</div>

